* {
    box-sizing: border-box;
}

.header-info {
    height: 80px;
    /* padding: 0 180px !important; */
}

.header-brand {
    font-weight: 500;
    color: #dd7b72;
    /* margin-left: 200px; */
    /* margin-top: 55px; */
}

.header-logo {
    height: 88%;
    width: 100px;
    /* margin-left: 180px; */
}

.header-search {
    
    width: 300px;
    height: 32px;
    border: 1px solid black;
    border-radius: 2px;
    border-color: #C4CBCF;
    /* margin-right: 10px; */
    overflow: hidden;
}

.header-search__input {
    outline: none;
    border: none;
    font-size: 1rem;
    flex: 1;
    /* position: relative; */
    border-right: 1px solid rgb(192, 183, 183);

}

.header-search__icon {
    padding: 0 8px;

}

.header-search__icon:hover {
    cursor: pointer;
}

.header-navbar {
    background-color: #0DC0C6;
    height: 80px;
}

.header-menu .btn {
    width: 40px;
    height: 40px;
}

.header-menu .offcanvas.offcanvas-start {
    width: 50%;
}

.offcanvas-body__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.offcanvas-logo{
    width: 120px;
    height: 120px;
    margin-left: 10px;
}

.offcanvas-body__item{
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid rgb(100, 89, 89);
}

.offcanvas-body__item:hover{
    padding-left: 5px;
    color: #0DC0C6;
    transition: linear 0.2s;
}

.offcanvas-body__item {}

.header-navbar__list {
    list-style: none;
    margin: 0;
}

.header-navbar__item {
    height: 100%;
    width: 160px;
    text-align: center;
    /* font-weight: 500; */
    padding-top: 26px;
    font-size: 1.3rem;
    color: white;

}

.header-navbar__item:hover {
    background-color: orange;
    /* font-size: 1.1rem; */
    /* padding: 3px; */
    /* font-weight: 500; */
    transition: linear 0.2s;
    cursor: pointer;
}

.body-p1 {
    /* height: 500px; */
}

.body-img-1 {
    object-fit: cover;
    padding: 6px 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    transition: all linear 0.2s;

}

.body-img-2 {
    object-fit: cover;
    padding: 6px 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;

    transition: all linear 0.2s;

}


.body-img-1:hover {
    scale: 1.03;
    object-fit: cover;
    transition: all linear 0.2s;
}

.body-img-2:hover {
    scale: 1.03;
    object-fit: cover;
    transition: all linear 0.2s;
}

.card-img-top {
    height: 280px;
    object-fit: cover;
}

h5.card-title {
    color: red;
}

.btn.btn-customize {
    background-color: #0DC0C6;
}

.btn.btn-customize:hover {
    background-color: #0b8a8f;
}

.body-3__store-info img{
    width: 100%;
    object-fit: contain;
}

#inputAddress-4{
    height: 100px;
}



